**/.idea
**/.env
**/venv
**/.venv
**/.vscode
**/.pytest_cache
**/*.egg*
**/build
**/[s]dist
**/.tox
**/.ipynb_checkpoints
**/*.py[cod]
**/__pycache__
**/wheels
**/.coverage.*
**/.mypy_cache
.DS_Store
Thumbs.db
[Dd]esktop.ini
**/*.code-workspace