[core]
autocrlf = false
excludesfile = ~/.gitignore
editor = vim
[alias]
lg = log --color --graph --pretty=format:'%C(blue)[%ai]%Creset %C(green)%h%Creset -%C(yellow)%d%Creset %s %C(green)<%an>%Creset' --abbrev-commit
ls = log --pretty=format:'%C(blue)[%ai]%Creset %C(green)%h%Cred%d %Creset%s %C(yellow)<%an>%Creset' --decorate
amend = commit --amend --date=now
cp = cherry-pick
cl = clone --recursive
ci = commit
cm = commit -m
co = checkout
br = branch
ad = add -A
s = status -s
d = pull --rebase
rank = shortlog -sn --no-merges
master = checkout master
dev = checkout develop
last = log -1 HEAD
dc = diff --cached
da = difftool --cached
la = !git config -l | grep alias | cut -c 7-
u = !git push origin $(git rev-parse --abbrev-ref HEAD):$(git rev-parse --abbrev-ref HEAD)
deepdelete = filter-repo --invert-paths
showdelete = !git log --diff-filter=D --summary | awk '($1==\"delete\"){print $4}'

[merge]
ff = true
[pull]
rebase = true
